* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}
body {
  background-color: #f8f9fa;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}
form {
  width: 300px;
  background-color: #FFF;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1), -1px -1px 4px rgba(0, 0, 0, 0.1);
}
form h2 {
  text-align: center;
}
form input {
  /*border: 2px solid #000;*/
  width: 100%;
  height: 35px;
  padding-left: 5px;
  display: block;
  margin: 10px 0;
  font-size: 15px;
}
form input[type=submit] {
  background-color: #f02;
  color: #fff;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
}
.form-group {
  position: relative;
  margin: 10px 0;
}
.form-group::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(45deg, #ffd900, #f00);
}

.form-group label {
  position: absolute;
  top: 5px;
  left: 0;
  transition: all 0.5s ease;
  height: 0;
  overflow: hidden;
}

.form-group :is(input:not([type=submit]):hover ~ label, input:not([type=submit]):focus ~ label) {
  top: -10px;
  font-size: 13px;
  height: auto;
  overflow: visible;
}